* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bookcase: rgba(122, 60, 38, 0.704);
    --color-book1: hotpink;
    --color-book2: cornflowerblue;
    --color-book3: darksalmon;
    --color-book4: mediumpurple;
    --color-book4d: rgb(130, 80, 230);
    --color-book5: mediumSeaGreen;
}


*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    content: "";
    display: flex;
}

h1 {
    font-size: 1rem;
    font-weight: 400;
}

section>section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section:first-of-type>section>div {
    height: 22px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

section:nth-of-type(2){
    display: flex;
    align-items: flex-end;

}

section:nth-of-type(2)>section{
    width: 2rem;
    flex-direction: row;
    height: 100%;
    margin-left: auto;
    width: 9rem;
    gap: 0.5rem;
}

section:nth-of-type(2)>section>div{
    background-color: hotpink;
    height: 100%;
}

section:nth-of-type(2)>section>div>p{
    writing-mode: vertical-rl;
}

.book1 {
    height: 17.6px;
    width: 80px;
    background-color: #aa90e7;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -5px;
}

.book1::after {
    height: 11px;
    width: 150px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-left: 4%;
    background-image: repeating-linear-gradient(#fffefa 0 2.5px, lightgray 2.5px 4px);
}

.book2 {
    background-color: #5796e9;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: 10px;
    position: relative;
    z-index: 4;
}

.book2::before {
    margin-right: 50%;
    height: 8.8px;
    position: absolute;
    border-left: 4px solid #98f8db;
    border-right: 4px solid #78ddbf;
    border-bottom: 4px solid transparent;
}

.book2::after {
    background-image: repeating-linear-gradient(#fffefa 0 3px, lightgray 3px 4.5px);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    height: 16.5px;
    width: 99px;
    margin-left: 3%;
}

.book3 {
    margin-left: 8px;
    width: 110px;
    justify-content: space-around;
    background-image: linear-gradient(#ffd8a6 0 60%, #ffc27c 60% 40%);
}

.book4 {
    position: relative;
    z-index: 2;
    width: 120px;
    height: 25.3px;
    background-image: linear-gradient(#ffe6e6 0 60%, #fdcccc 60% 100%);
}

.book5 {
    width: 140px;
    height: 26.4px;
    background-image: linear-gradient(#92c1ff 0 60%, #5796e9 60% 100%);
}





main {
    background-color: var(--color-bookcase);
    width: 22rem;
    height: 40rem;
    margin: auto;
    margin-top: auto;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
}

main>section {
    background-color: white;
    margin: .7rem 1.4rem;
    height: 100%;
}

main>section:first-of-type {
    margin-top: 1.4rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

main>section:first-of-type>img {
    height: 5rem;
}

main>section:last-of-type {
    margin-bottom: 1.4rem;
}

main>section:first-of-type>section>p:first-of-type {
    background-color: var(--color-book2);
}

main>section:first-of-type>section>p:nth-of-type(2) {
    background-color: var(--color-book1);
}


main>section:nth-of-type(3)>section>img {
    height: 5rem;
}