/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    overflow: auto;
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/********/
/* Root */
/********/
:root {
    --background-gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(30,19,12,1) 10%, rgba(154,132,120,0.8464635854341737) 100%);
    
    --background-color-footer: #9C8C81;
    --hover-color-footer: #907F76;
    --text-color: #ffffff;


    --font-paragraph: Arial, sans-serif;
}

/********************/
/* Algemene styling */
/********************/
body {
    font-family: var(--font-paragraph);
    color: var(--text-color);
    background: var(--background-gradient);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
}

h3, h2, p{
    text-align: center;
}



/*******************/
/* Header met logo */
/*******************/
header {
    display: flex;
    justify-content: center;
}

header>h1>img {
    margin: 2rem;
}


/************************/
/* Main met kunstwerken */
/************************/
main {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

main>article {
    width: 100vw;
    padding: 2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    margin-bottom: 4rem;
}

main>article>img{
    margin-bottom: 2rem;
    max-height: 20rem;
}

/* Eerste letter tag met hoofdletter */
main>article>ul>li>p:first-letter {
    text-transform: uppercase;
}

main>article>p{
    margin-top: 1rem;
}



/*******************/
/* Onboarding page */
/*******************/
.onboardingPage{
    padding: 0 2rem;
}

.onboardingPage>h2, .onboardingPage>p{
    margin-top: 1.5rem;
}

.onboardingPage>a{
    display: block;
    margin: auto;
    margin-top: 3.5rem;
    border-radius: 4px;
    background-color: rgba(30,19,12,1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    padding: .5rem;
    width: 15rem;
    cursor: pointer;
    text-decoration: none;
}

.onboardingPage>a:focus{
    border: .2rem solid #ffffff;
    outline: none;
}

/************************/
/* Footer met navigatie */
/************************/
footer>nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
}

footer>nav>ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    background-color: var(--background-color-footer);
}

footer>nav>ul>li {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;}

footer>nav>ul>li:hover{
    background-color: var(--hover-color-footer);
}


footer>nav>ul>li>a {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

footer>nav>ul>li>a>img {
    width: 2.5rem;
    height: 2.5rem;
}





/*****************/
/* Media queries */
/*****************/
@media (min-width: 800px){
    main > article>img{
        max-width: 35vw;
    }
}
