/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/********/
/* Root */
/********/
:root {
    --background-color: #121212;
    --accent-color: hotpink;
    --text-color: #ffffff;
    --font-paragraph: Arial, sans-serif;
}

/********************/
/* Algemene styling */
/********************/
body {
    background-color: var(--background-color);
    font-family: var(--font-paragraph);
    color: var(--text-color);
}



/*******************/
/* Header met logo */
/*******************/
header {
    display: flex;
    justify-content: center;
}

header>h1>img {
    margin: 2rem;
}


/************************/
/* Main met kunstwerken */
/************************/
main {
    display: flex;
    overflow: scroll;
}

main>article {
    width: 100vw;
    padding: 2rem;
    flex-shrink: 0;
}


/************************/
/* Footer met navigatie */
/************************/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--accent-color);
    height: 5rem;
}

footer>ul {
    display: flex;
    justify-content: space-evenly;
}

footer>ul>li {
    width: 30%;
    text-align: center;
}

footer>ul>li>button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>ul>li>button>img {
    width: 2.5rem;
    height: 2.5rem;
}